# Cruzando bases de dados

In [1]:
import pandas as pd

In [4]:
ibge_url = "https://gist.githubusercontent.com/tgcsantos/85f8c7b0a2edbc3e27fcad619b37d886/raw/a4954781e6bca9cb804062a3eea0b3b84679daf4/Basico_SP1.csv"
dados_ibge = pd.read_csv(ibge_url, sep=";", encoding='ISO-8859-1', thousands='.', decimal=',')
dados_ibge.dropna(how='all', axis=1, inplace=True)
dados_ibge

,Cod_setor,Cod_Grandes Regiï¿½es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,355030801000001,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.01,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86
1,355030801000002,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.98,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94
2,355030801000003,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.31,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74
3,355030801000004,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.16,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24
4,355030801000005,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.14,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18358,355030896000243,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.50,2.61,772.09,168751.10,814.52,143188.21,467.46,191332.48,699.95,123399.08
18359,355030896000244,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.87,2.49,692.50,239941.27,812.93,182516.20,439.33,194034.99,702.10,124952.38
18360,355030896000245,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.90,2.54,630.06,329705.22,843.31,260395.90,347.60,228162.66,767.50,181129.99
18361,355030896000246,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,4.29,4.21,597.37,349101.00,908.00,244391.67,397.76,436942.16,854.20,550319.43
18362,355030896000247,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.77,3.28,630.13,183904.29,790.88,102860.11,431.82,186963.45,728.70,98771.74

In [5]:
dados_ibge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18363 entries, 0 to 18362
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_setor              18363 non-null  int64
 1   Cod_Grandes Regiï¿½es  18363 non-null  int64
 2   Nome_Grande_Regiao     18363 non-null  object
 3   Cod_UF                 18363 non-null  int64
 4   Nome_da_UF             18363 non-null  object
 5   Cod_meso               18363 non-null  int64
 6   Nome_da_meso           18363 non-null  object
 7   Cod_micro              18363 non-null  int64
 8   Nome_da_micro          18363 non-null  object
 9   Cod_RM                 18363 non-null  int64
 10  Nome_da_RM             18363 non-null  object
 11  Cod_municipio          18363 non-null  int64
 12  Nome_do_municipio      18363 non-null  object
 13  Cod_distrito           18363 non-null  int64
 14  Nome_do_distrito       18363 non-null  object
 15  Cod_subdistrito        18363 non-null  int64
 16  Nome_do_subdistrito    18363 non-null  object
 17  Cod_bairro             18363 non-null  int64
 18  Nome_do_bairro         18363 non-null  object
 19  Situacao_setor         18363 non-null  int64
 20  Tipo_setor             18363 non-null  int64
 21  V001                   18333 non-null  float64
 22  V002                   18333 non-null  float64
 23  V003                   18333 non-null  float64
 24  V004                   18333 non-null  float64
 25  V005                   18333 non-null  float64
 26  V006                   18333 non-null  float64
 27  V007                   18324 non-null  float64
 28  V008                   18324 non-null  float64
 29  V009                   18363 non-null  float64
 30  V010                   18363 non-null  float64
 31  V011                   18352 non-null  float64
 32  V012                   18352 non-null  float64
dtypes: float64(12), int64(12), object(9)
memory usage: 4.6+ MB

In [ ]:
# Dicionário de dados do IBGE:
# V001: Domicílios particulares permanentes ou pessoas responsáveis por domicílios particulares permanentes
# V002: Moradores em domicílios particulares permanentes ou população residente em domicílios particulares permanentes
# V003: Média do número de moradores em domicílios particulares permanentes (obtida pela divisão de Var2 por Var1) 
# V004: Variância do número de moradores em domicílios particulares permanentes
# V005: Valor do rendimento nominal médio mensal das pessoas responsáveis por domicílios particulares permanentes (com e sem rendimento)
# V006: Variância do rendimento nominal mensal das pessoas responsáveis por domicílios particulares permanentes (com e sem rendimento)
# V007: Valor do rendimento nominal médio mensal das pessoas responsáveis por domicílios particulares permanentes (com rendimento)
# V008: Variância do rendimento nominal mensal das pessoas responsáveis por domicílios particulares permanentes (com rendimento)
# V009: Valor do rendimento nominal médio mensal das pessoas de 10 anos ou mais de idade (com e sem rendimento)
# V010: Variância do rendimento nominal mensal das pessoas de 10 anos ou mais de idade (com e sem rendimento)
# V011: Valor do rendimento nominal médio mensal das pessoas de 10 anos ou mais de idade (com rendimento)
# V012: Variância do rendimento nominal mensal das pessoas de 10 anos ou mais de idade (com rendimento)

In [ ]:
# Dicionário IBEG para Código de situação do setor:
# Situação urbana – códigos: 1, 2 e 3
# 1- Área urbanizada de cidade ou vila
# 2- Área não-urbanizada de cidade ou vila
# 3- Área urbana isolada
# Situação rural – códigos: 4, 5, 6, 7 e 8
# 4- Aglomerado rural de extensão urbana
# 5- Aglomerado rural isolado – povoado
# 6- Aglomerado rural isolado – núcleo
# 7- Aglomerado rural isolado - outros aglomerados
# 8- Zona rural, exclusive aglomerado rural

In [ ]:
# Dicionário IBEG para Código tipo do setor
# Nesta divulgação indica se o setor é do Tipo aglomerado subnormal ou não. 
# Aglomerado subnormal – código: S (1)
# Outro tipo – código: N (0)
# [OBS: aglomerado subnormal é ocupação irregular]

In [8]:
# Para compreender a melhor maneira de unir as tabelas do ibge com a de imóveis, é preciso entender melhor os dados por "setor censitário"
# O Censo divide as regiões por zonas que não compreendem necessariamente a totalidade de um bairro, então não é possível relacionar as bases
# sem a informação de que aqueles endereços são compatíveis
enderecos = pd.read_csv('dados/enderecos.csv')
enderecos

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude
0,Rua,Armando Silveira,Rua Armando Silveira,NaN,Divisa,Santana do Livramento,RS,97573200.0,-30.882674,-55.548830
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686
2,Rua,Prefeito Agenor Barcelos Feio,Rua Prefeito Agenor Barcelos Feio,NaN,Registro,Santana do Livramento,RS,97571090.0,-30.855721,-55.555757
3,Rua,Sebastião Gomes,Rua Sebastião Gomes - até 59/60,59,Registro,Santana do Livramento,RS,97571374.0,-30.863149,-55.552083
4,Rua,Marquês do Alegrete,Rua Marquês do Alegrete,NaN,Parque das Águas,Santana do Livramento,RS,97571500.0,-30.864415,-55.545860
...,...,...,...,...,...,...,...,...,...,...
1113881,Quadra,4 Conjunto 7,Quadra 4 Conjunto 7,NaN,Setor Habitacional Vicente Pires - Trecho 3,Brasília,DF,72001381.0,-15.703283,-47.869236
1113882,Rodovia,Mario Tonolli,Rodovia Mario Tonolli,NaN,Morro Alto,Itupeva,SP,13297002.0,-23.186604,-47.078942
1113883,Avenida,das Torres,Avenida das Torres - de 6318 ao fim - lado par,6318,Lago Azul,Manaus,AM,69018156.0,-2.986641,-59.992092
1113884,Rua,Tiradentes,Rua Tiradentes - de 181 a 369 - lado ímpar,181,Vila Queiroz,Artur Nogueira,SP,13163000.0,-22.577444,-47.168819
1113885,Rua,Albertina Lopes Guimarães,Rua Albertina Lopes Guimarães - de 187 ao fim ...,187,Cristais II,Nova Lima,MG,34001220.0,-19.992980,-43.850741

In [10]:
enderecos_sp = enderecos.query("sigla_uf == 'SP'")
enderecos_sp

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686
413269,Rua,A,Rua A,NaN,Jardim Glória,Americana,SP,13468220.0,-22.756531,-47.343738
413270,Rua,A,Rua A,NaN,Jardim São Roque,Americana,SP,13469414.0,-22.743734,-47.348631
413271,Rua,A,Rua A,NaN,Iate Clube de Campinas,Americana,SP,13475620.0,-22.737846,-47.333569
413272,Rua,João Bandini,Rua João Bandini,NaN,Jardim Miriam,Americana,SP,13469072.0,-22.744283,-47.351588
...,...,...,...,...,...,...,...,...,...,...
1113858,Rua,Daniel Buccieri,Rua Daniel Buccieri,NaN,Jardim Alvorada,Monte Mor,SP,13198524.0,-22.926185,-47.265163
1113865,Rua,Ottorino Rizzi,Rua Ottorino Rizzi,NaN,Royal Park,Ribeirão Preto,SP,14028563.0,-21.241158,-47.830249
1113873,Rua,Adriano Michelutti Cândia,Rua Adriano Michelutti Cândia,NaN,Jardim San Marco II,Ribeirão Preto,SP,14035198.0,-21.200525,-47.741982
1113882,Rodovia,Mario Tonolli,Rodovia Mario Tonolli,NaN,Morro Alto,Itupeva,SP,13297002.0,-23.186604,-47.078942
1113884,Rua,Tiradentes,Rua Tiradentes - de 181 a 369 - lado ímpar,181,Vila Queiroz,Artur Nogueira,SP,13163000.0,-22.577444,-47.168819

In [11]:
enderecos_sp["rua"] = enderecos_sp["tipo_logr"] + " " + enderecos_sp["logr_nome"]
enderecos_sp["rua"] = enderecos_sp["rua"].str.lower().str.strip()
enderecos_sp.head()

/tmp/ipykernel_202503/891627636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enderecos_sp["rua"] = enderecos_sp["tipo_logr"] + " " + enderecos_sp["logr_nome"]
/tmp/ipykernel_202503/891627636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enderecos_sp["rua"] = enderecos_sp["rua"].str.lower().str.strip()

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude,rua
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686,rua joão antônio vasconcelos
413269,Rua,A,Rua A,NaN,Jardim Glória,Americana,SP,13468220.0,-22.756531,-47.343738,rua a
413270,Rua,A,Rua A,NaN,Jardim São Roque,Americana,SP,13469414.0,-22.743734,-47.348631,rua a
413271,Rua,A,Rua A,NaN,Iate Clube de Campinas,Americana,SP,13475620.0,-22.737846,-47.333569,rua a
413272,Rua,João Bandini,Rua João Bandini,NaN,Jardim Miriam,Americana,SP,13469072.0,-22.744283,-47.351588,rua joão bandini

In [16]:
imoveis_sp = pd.read_csv('dados/imoveis_venda_sp', sep=";")
imoveis_sp.head()

,Rua,Bairro,Metragem,Quartos,Banheiros,Vagas,Moeda,Preco,Preco_mquadrado
0,"Avenida Itacira, 255",Planalto Paulista,1000,4,8,6,R$,7000000.0,7000.000000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,496,4,4,4,R$,3700000.0,7459.677419
2,Rua Alba Valdez,Jardim Reimberg,125,4,3,2,R$,380000.0,3040.000000
3,NaN,Jardim Morumbi,310,3,2,4,R$,685000.0,2209.677419
4,"Rua Tobias Barreto, 195",Mooca,100,3,2,2,R$,540000.0,5400.000000

In [17]:
imoveis_sp["Rua"].str.extract(r'(^[\w ]+)')[:10]

                           0
0            Avenida Itacira
1  Rua Aurelia Perez Alvarez
2            Rua Alba Valdez
3                        NaN
4         Rua Tobias Barreto
5            Rua Graham Bell
6        Rua Francisco Paulo
7      Rua Guilherme Valente
8        Rua Sagrada Família
9                 Rua Tapaji

In [19]:
imoveis_sp["Apenas_rua"] = imoveis_sp["Rua"].str.extract(r'(^[\w ]+)')
imoveis_sp["Apenas_rua"] = imoveis_sp["Apenas_rua"].str.lower().str.strip()
imoveis_sp.head()

,Rua,Bairro,Metragem,Quartos,Banheiros,Vagas,Moeda,Preco,Preco_mquadrado,Apenas_rua
0,"Avenida Itacira, 255",Planalto Paulista,1000,4,8,6,R$,7000000.0,7000.000000,avenida itacira
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,496,4,4,4,R$,3700000.0,7459.677419,rua aurelia perez alvarez
2,Rua Alba Valdez,Jardim Reimberg,125,4,3,2,R$,380000.0,3040.000000,rua alba valdez
3,NaN,Jardim Morumbi,310,3,2,4,R$,685000.0,2209.677419,NaN
4,"Rua Tobias Barreto, 195",Mooca,100,3,2,2,R$,540000.0,5400.000000,rua tobias barreto

## Merge dos dados de imoveis de sp com os de setor censitário do ibge

In [21]:
dados_geo = pd.merge(left = imoveis_sp, right = enderecos_sp[["rua", "cep", "latitude", "longitude"]], how = "left", left_on = "Apenas_rua", right_on = "rua").drop_duplicates(subset=imoveis_sp.columns).query("cep > 0")
dados_geo

,Rua,Bairro,Metragem,Quartos,Banheiros,Vagas,Moeda,Preco,Preco_mquadrado,Apenas_rua,rua,cep,latitude,longitude
0,"Avenida Itacira, 255",Planalto Paulista,1000,4,8,6,R$,7000000.0,7000.000000,avenida itacira,avenida itacira,11443160.0,-23.975993,-46.201317
5,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,496,4,4,4,R$,3700000.0,7459.677419,rua aurelia perez alvarez,rua aurelia perez alvarez,4642020.0,-23.640961,-46.688311
6,Rua Alba Valdez,Jardim Reimberg,125,4,3,2,R$,380000.0,3040.000000,rua alba valdez,rua alba valdez,4845200.0,-23.752990,-46.695889
7,NaN,Jardim Morumbi,310,3,2,4,R$,685000.0,2209.677419,NaN,NaN,18125000.0,-23.531043,-47.255023
26,"Rua Tobias Barreto, 195",Mooca,100,3,2,2,R$,540000.0,5400.000000,rua tobias barreto,rua tobias barreto,13474663.0,-22.698901,-47.294461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89956,Avenida Odila,Planalto Paulista,267,3,6,4,R$,1500000.0,5617.977528,avenida odila,avenida odila,4058020.0,-23.609093,-46.647258
89958,Rua Tapuçu,Vila Sofia,95,2,2,2,R$,665000.0,7000.000000,rua tapuçu,rua tapuçu,4671185.0,-23.661018,-46.691521
89959,Rua Guararema,Bosque da Saúde,605,8,7,5,R$,2300000.0,3801.652893,rua guararema,rua guararema,13030640.0,-22.922749,-47.076960
89976,Rua Estero Belaco,Vila da Saúde,205,3,3,6,R$,1050000.0,5121.951220,rua estero belaco,rua estero belaco,4145020.0,-23.616124,-46.632983
89977,"Rua Barão de Tramandaí, 0",Vila Alpina,122,3,2,2,R$,270000.0,2213.114754,rua barão de tramandaí,rua barão de tramandaí,3207000.0,-23.600330,-46.562415

## Enriquecendo dados com informações de geolocalização

In [23]:
!pip install shapely
from shapely.geometry import Point
latitude = -23.56 	
longitude = -46.59
Point(longitude, latitude)

Collecting shapely
  Downloading Shapely-1.8.2-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 7.6 MB/s eta 0:00:01
Installing collected packages: shapely
Successfully installed shapely-1.8.2